.DS_Store
TichLoch/Intermediate/CachedAssetRegistry_0.bin
TichLoch/Saved/Autosaves/PackageRestoreData.json
TichLoch/Saved/AutoScreenshot.png
TichLoch/Saved/SourceControl/UncontrolledChangelists.json
/TichLoch/Saved/Config
/TichLoch/Intermediate/ReimportCache
